@model ShopTrangSucOnline.Model.Entities.ProductCategory
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h6 class="card-title">Thêm mới</h6>
        <form class="forms-sample" action="/Admin/ProductCategory/Create" method="post">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" asp-for="Id"></label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="Id">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" asp-for="Name"></label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="Name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" asp-for="Description"></label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="Description">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" asp-for="Image"></label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="Image">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" asp-for="KeyWord"></label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="KeyWord">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" asp-for="CreatedDate"></label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="CreatedDate">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" asp-for="CreatedBy"></label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="CreatedBy">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" asp-for="UpdateDate"></label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="UpdateDate">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" asp-for="UpdateBy"></label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="UpdateBy">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" asp-for="Status"></label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="Status">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>
